html, body {
  height: 100%;
  font-family: 'Roboto Mono', monospace, sans-serif;
  background: rgb(0, 81, 255);
  background-size: cover;
}

div.column.is-8 {
  background: #FFFFFF
}

div.column.is-4 {
  background: #FFFFFF;
  border: 2px solid #ffffff;
  border-radius: 4px
}

::-webkit-scrollbar {
  display: none
}

@media only screen and (max-width: 1800px) {
  .field.is-grouped {
    flex-direction: column;
  }
}

a.modveh, a.modped {
  float: right;
}

.priority ol li {
  margin-bottom: 0.25rem
}

.priority ol li:last-child {
  margin-bottom:1rem
}